body{
    display: flex;
    flex-direction: column;

}
.first-section{
    padding-bottom: 50pt;
    background-color: #1f2937;
    padding: 70px;
}
.head-link{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding-bottom: 50pt;
    color: white;    
}
.header-links{
    align-items: space-between;
    justify-content: space-between;
    display: flex;
    gap: 10px;
}
.text-images{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.hero-text{
    display: flex;
    flex-direction: column;
    color: white;
}
.big-text{
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 900;
    flex-wrap: wrap;
}
.small-text{
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    width: 790.0px;

}
.text-second{
    display: flex;
    font-size: 36px;
    font-weight: 900;
    justify-content: center;

}
.sando{
 height: 333px;
}
.logo{
    display: flex;
    font-weight: 600;
    font-size: 24px;
    align-items: center;
}
.four-images{
    display: flex;
    align-items: center;
    justify-content: center;

}
.image-list{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}
.wokimg, .worimg, .obimg, .rowimg{
    display: flex;
    width: 325px;
    height: 300px;
    border-radius: 40px;  
    border: 3px solid #3882f6;  

}
.wok-container, .wor-container, .ob-container, .row-container{
    flex-direction: column;
    align-content: center;
    justify-content: center;
    display: flex;
    color: black;
    gap: 200px;
}
.woktext, .wor-text, .ob-text, .row-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}
.third-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 100px;
    background-color: #e5e7eb;


}
.the-oaths{
    display: flex;
    font-size: 36px;
    flex-wrap: wrap;
    text-align: center;
    font-style: italic;
    color: #1f2937;

    
}
.kaladin{
    font-size: 25px;
    font-weight: 700;
    
}

.box-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 100px;
    padding: 50px;
    gap: 300px;
    background-color:  #3170d5;
    border-radius: 20px;  
    color: white;


    
    
}
.Text-Cont{
    display: flex;
    flex-direction: column;
}
.blue-box{
    width: 350px;
}
.quizbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #3170d5;
    color: white;
    border-radius: 10px;  


}
.footer{
    display: flex;
    justify-content: center;
    background-color:#1f2937;
    color: white;
    padding: 25px;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;

}
ul{
    padding: 0;
    color: white;

}